<body class="text-center">
    <app-navbar></app-navbar>
    <main  class="form-signin">
        <form [formGroup]="passwordCahengeForm">
            <h1 class="h3 mb-3 fw-normal">Şifrenizi Değiştiriniz</h1>
            <div class="form-floating">
                <label for="floatingPassword">Yeni Şifre</label>
                <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Şifre">
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="change()">Değiştir</button>
            <button class="w-100 btn btn-sm btn-light" routerLink="" >Ana Sayfaya Dön</button>
        </form>
    </main>
</body>
