<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul *ngIf="authIs==false" class="navbar-nav">
                <li  class="nav-item" >
                    <a  class="nav-link" routerLink="/login">
                        Giriş Yap
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" routerLink="/register">
                        Üye Ol
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                </li>
            </ul>
            <ul *ngIf="authIs==true" class="navbar-nav">
                <div  class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{userName}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="getUserId()" >Profile Git</a>
                        <a class="dropdown-item" routerLink="/changepassword">Şifre Değiştir</a>
                        <a *ngIf="userClaims" class="dropdown-item" routerLink="/add">Admin Paneli</a>
                        <a class="dropdown-item d-flex justify-content-between" (click)="logout()">Çıkış <span class="material-icons">logout</span></a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>