<div class="main-content">
    <div *ngIf="dataLoaded == false" class="text-center">
        <div  class="spinner-grow text-danger" style="width:3rem; height:3rem" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <div *ngIf="dataLoaded==true" class="container-fluid">
        <div>
            <button class="btn btn-info btn-lg btn-block" routerLink="/blockedusers/manage">Engellenenler</button>
        </div>
        <hr>
        <div class="card">
            <div class="card-header card-header-danger row">
                <div class="col-md-4">
                    <h4 class="card-title ">Kullanıcılar</h4>
                </div>
                <div class="col-md-8 row">
                    <div class="col-11">
                        <input type="text" [(ngModel)]="filterText"  class="form-control" id="filterText" placeholder="Search">
                    </div>
                    <div class="col-1">
                        <span class="material-icons">search</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Email
                            </th>
                            <th>
                                Ad
                            </th>
                            <th>
                                Soyad
                            </th>
                            <th>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | userFilterPipe:filterText ">
                                <td>
                                    {{user.email}}
                                </td>
                                <td>
                                    {{user.firstName}}
                                </td>
                                <td>
                                    {{user.lastName}}
                                </td>
                                <td>
                                    <button class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#Modal'+user.id">Engelle</button>
                                    <div class="modal fade" [attr.id]="'Modal'+user.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">{{user.email}} kullanıcını engellemek istiyor musunuz?</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                               {{user.firstName}} {{user.lastName}}
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                              <button type="button" class="btn btn-danger" (click)="blockingUser(user.id)" >Engelle</button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
