<div class="main-content">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">
          Ödeme Alanı
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label">Toplam Ücret</label>
          <div class="col-8">
            <input type="text" disabled="disabled" class="form-control" value="{{totalPrice}}"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="col-12">
            <input type="text" class="form-control" id="cartNumber" [(ngModel)]="creditNumber" placeholder="Kart Numara">
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="col-12">
            <input type="text" class="form-control" id="cartName" [(ngModel)]="nameOnCard" placeholder="Kart Üzerinde ki İsim">
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="col-12">
            <input type="text" class="form-control" id="cartCVV" [(ngModel)]="cardCVV" placeholder="CVV">
          </div>
        </div>
      </div>
      <div class="modal-footer row justify-content-between" style="margin: 5%">
        <div class="row-4">
          <button data-bs-dismiss="modal" type="button" (click)="payToRental()" class="btn btn-primary">
            Öde
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
