<div class="main-content">
    <div *ngIf="dataLoaded==false && dataCarsLoaded == false" class="text-center">
        <div  class="spinner-grow text-danger" style="width:3rem; height:3rem" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <div *ngIf="dataLoaded==true && dataCarsLoaded == false" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Araçlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Araba
                                    </th>
                                    <th>
                                        Müşteri
                                    </th>
                                    <th>
                                        Verilen Tarih
                                    </th>
                                    <th>
                                        Dönüş Tarihi
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rental of rentals">
                                        <td>
                                            {{rental.id}}
                                        </td>
                                        <td>
                                            {{rental.brandName}}
                                        </td>
                                        <td>
                                            {{rental.customerId}}
                                        </td>
                                        <td>
                                            {{rental.rentDate|date:'fullDate'}}
                                        </td>
                                        <td *ngIf="rental.returnDate != null">
                                            {{rental.returnDate|date:'fullDate'}}
                                        </td>
                                        <td *ngIf="rental.returnDate == null">
                                            <i>Dönüş Yapmadı</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div *ngIf="dataCarsLoaded==true" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center" id="exampleModalLabel">
        {{ cars.brandName }} - {{ cars.carName }} 
      </h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="form-group row mb-2">
        <label for="example-date-input" class="col-4 col-form-label"
          >Günlük</label
        >
        <div class="col-8">
          <input
            type="text"
            disabled="disabled"
            class="form-control"
            [value]="cars.dailyPrice | currency: '₺'"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="example-date-input" class="col-4 col-form-label"
          >Müşteri</label
        >
        <div class="col-8">
          <select class="form-select w-100" [(ngModel)]="customerId" >
            <option [value]="customer.userId"  *ngFor="let customer of customers">
              {{ customer.companyName }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="example-date-input"  class="col-4 col-form-label"
          >Başlangıç</label
        >
        <div class="col-8">
          <input
            [min]="setRentDate()"
            [value]="setRentDate()"
            class="form-control"
            type="date"
            [(ngModel)]="rentDate"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label"
          >Bitiş</label
        >
        <div class="col-8">
          <input
            class="form-control"
            type="date"
            [min]="setReturnDate()"
            [value]="setReturnDate()"
            [(ngModel)]="returnDate"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer row justify-content-between" style="margin: 5%;">
      <div class="row-4">
          <button data-bs-dismiss="modal" (click)="setRentalCreated(cars)" type="button" class="btn btn-primary">Başvur</button>
      </div>
  </div>
  </div>
</div>

  

