<div class="row">
    <div class="col-md-1.5">
        <select class="form-select" [(ngModel)]="brandsFilter" aria-label="brandSelect" name="brandSelect" style="border-radius: 5px;" >
            <option selected value="">Marka Seçiniz</option>
            <option *ngFor="let brand of brands" [value]="brand.brandName">{{brand.brandName}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-select" [(ngModel)]="colorsFilter" aria-label="colorSelect" name="colorSelect" style="border-radius: 5px;" >
            <option selected value="">Renk Seçiniz</option>
            <option *ngFor="let color of colors" [value]="color.colorName">{{color.colorName}}</option>
        </select>
    </div>
    <div class="col-md-1.5">
        <button type="button" routerLink="/cars/filter/{{brandsFilter}}/{{colorsFilter}}" class="btn btn-primary btn-sm">Deneme</button>
    </div>
</div>
